{% extends "layouts/application.html" %}
{%- block head %}{% endblock %}

{% block nav %}  <div class="flex-item-justify-end">
    {% filter link_to(h::routes::new_session(), h::attrs().class("btn flex-item-justify-end")) %}
      {{ h::image_tag(ctx, "login-keys.svg", h::attrs().aria_hidden()) }}
      <span class="for-screen-reader">Sign in</span>
{% endfilter %}  </div>
{% endblock %}
{% block content %}{% let form = h::form_with(h::routes::join(join_code)).model("user").class("center") %}{% filter form_with(form) %}
  <section class="nametag u-relative">
    <div class="flex justify-center align-center pad-block">
      {{ h::image_tag(ctx, "lanyard.svg", h::attrs().class("nametag__lanyard").aria_hidden()) }}
    </div>

    <div class="nametag__inner flex flex-column gap">
      <fieldset class="flex flex-column center-block">
        <legend class="txt-align-center flex gap">
          {{ h::account_logo_tag(ctx, None) }}
          <strong class="txt-large">{{ ctx.account.name }}</strong>
        </legend>

        <label class="align-center center avatar__form gap" data-controller="upload-preview">
          <div class="btn input--file">
            {{ h::image_tag(ctx, "camera.svg", h::attrs().aria_hidden()) }}
            {{ form.file_field("avatar", h::attrs().class("input").accept("image/*").data("upload_preview_target", "input").data("action", "upload-preview#previewImage")) }}
            <span class="for-screen-reader">Upload avatar</span>
          </div>

          <div class="btn avatar input--file txt-xx-large">
            {{ h::image_tag(ctx, "default-avatar.svg", h::attrs().aria_hidden().data("upload_preview_target", "image")) }}
            <span class="for-screen-reader">Avatar</span>
          </div>
        </label>
      </fieldset>

      <div class="flex align-center gap">
        {{ h::translation_button(ctx, "user_name") }}
        <label class="flex align-center gap flex-item-grow txt-large input input--actor">
          {{ form.text_field("name", None, h::attrs().class("input").autocomplete("name").placeholder("Name").autofocus().required(true).data("1p-ignore", true)) }}
          {{ h::image_tag(ctx, "person.svg", h::attrs().aria_hidden().size(24).class("colorize--black")) }}
        </label>
      </div>

      <div class="flex align-center gap">
        {{ h::translation_button(ctx, "email_address") }}
        <label class="flex align-center gap flex-item-grow txt-large input input--actor">
          {{ form.text_field("email_address", None, h::attrs().class("input").autocomplete("username").placeholder("Username or email").required(true)) }}
          {{ h::image_tag(ctx, "email.svg", h::attrs().aria_hidden().size(24).class("colorize--black")) }}
        </label>
      </div>

      <div class="flex align-center gap">
        {{ h::translation_button(ctx, "password") }}
        <label class="flex align-center gap flex-item-grow txt-large input input--actor">
          {{ form.password_field("password", h::attrs().class("input").autocomplete("new-password").placeholder("Password").required(true).maxlength(72)) }}
          {{ h::image_tag(ctx, "password.svg", h::attrs().aria_hidden().size(24).class("colorize--black")) }}
        </label>
      </div>

      {% filter button(h::attrs().class("btn btn--reversed center txt-large").type_("submit")) %}
        {{ h::image_tag(ctx, "check.svg", h::attrs().aria_hidden()) }}
        <span class="for-screen-reader">Save</span>
{% endfilter %}    </div>
  </section>
{% endfilter %}
{% include "accounts/_help_contact.html" %}
{% endblock %}