{% extends "layouts/application.html" %}
{%- block head %}{% endblock %}

{% block nav %}  <div class="flex-item-justify-start">
    {{ h::link_back_to_last_room_visited(ctx) }}
  </div>

{% if ctx.can_administer() %}    <div class="flex align-center gap flex-item-justify-end">
      {% filter link_to(h::routes::account_bots(), h::attrs().class("btn").style("view-transition-name: chat-bots")) %}
        {{ h::image_tag(ctx, "bot.svg", h::attrs().aria_hidden().size(20)) }}
        <span class="for-screen-reader">Set up chat bots</span>
{% endfilter %}
      {% filter link_to(h::routes::edit_account_custom_styles(), h::attrs().class("btn").style("view-transition-name: custom-styles")) %}
        {{ h::image_tag(ctx, "art.svg", h::attrs().size(20).aria_hidden()) }}
        <span class="for-screen-reader">Custom styles</span>
{% endfilter %}    </div>
{% endif %}{% endblock %}
{% block content %}<section class="panel txt-align-center flex flex-column gap" style="view-transition-name: account-settings">
{% if ctx.can_administer() %}    <div class="align-center center avatar__form gap" data-controller="upload-preview">
{% let form = h::form_with(self.account_action()).model("account").method("patch").class("txt--medium").data("controller", "form") %}      {% filter form_with(form) %}
        <label class="btn input--file">
          {{ h::image_tag(ctx, "camera.svg", h::attrs().aria_hidden().size(20)) }}
          {{ form.file_field("logo", h::attrs().class("input").accept("image/*").data("action", "upload-preview#previewImage change->form#submit")) }}
          <span class="for-screen-reader">Upload logo</span>
        </label>
{% endfilter %}
{% let form = h::form_with(self.account_action()).model("account").method("patch").data("controller", "form") %}      {% filter form_with(form) %}
        <label class="btn avatar input--file account-logo txt-xx-large">
          {{ h::image_tag(ctx, ctx.account.logo_url.as_str(), h::attrs().role("presentation").size(48).data("upload_preview_target", "image")) }}
          {{ form.file_field("logo", h::attrs().class("input").accept("image/*").data("action", "upload-preview#previewImage change->form#submit")) }}
          <span class="for-screen-reader">Upload logo</span>
        </label>
{% endfilter %}
{% if ctx.account.has_logo %}        {% filter button_to(ctx.account.logo_url.as_str(), h::attrs().method("delete").class("btn btn--negative txt-small avatar__delete-btn")) %}
          {{ h::image_tag(ctx, "minus.svg", h::attrs().aria_hidden().size(20)) }}
          <span class="for-screen-reader">Delete logo</span>
{% endfilter %}{% endif %}    </div>

{% let form = h::form_with(self.account_action()).model("account").method("patch").data("controller", "form").class("flex flex-column gap") %}    {% filter form_with(form) %}
      <div class="flex align-center gap">
        {{ h::translation_button(ctx, "account_name") }}

        <label class="flex align-center gap flex-item-grow">
          {{ form.text_field("name", Some(ctx.account.name.as_str()), h::attrs().class("input txt-large").autocomplete("off").placeholder("Name this account").autofocus().data("action", "keydown.enter->form#submit")) }}
        </label>

        {% filter button(h::attrs().class("btn btn--reversed center").type_("submit")) %}
          {{ h::image_tag(ctx, "check.svg", h::attrs().aria_hidden().size(20)) }}
          <span class="for-screen-reader">Save changes</span>
{% endfilter %}      </div>
{% endfilter %}
    <div class="margin-block-start pad-block pad-inline-double fill-shade border-radius">
{% let form = h::form_with(self.account_action()).model("account").method("put").data("controller", "form").class("flex align-center gap center") %}      {% filter form_with(form) %}
        <div class="flex-item-grow flex align-center gap txt-align-start">
          {{ h::image_tag(ctx, "crown.svg", h::attrs().class("colorize--black").aria_hidden().size(18)) }} Must be admin to create new rooms
        </div>
{% let settings_form = form.fields_for("settings") %}          {{ settings_form.hidden_field("restrict_room_creation_to_administrators", None, h::attrs().value((!restrict_room_creation_to_administrators).to_string())) }}

        <label class="switch">
          <input type="checkbox"
                class="switch__input"
                {% if restrict_room_creation_to_administrators %}checked{% endif %}
                data-action="change->form#submit">
          <span class="switch__btn round"></span>
          <span class="for-screen-reader">
            Must be admin to create new rooms
          </span>
        </label>

{% endfilter %}    </div>
{% else %}    {{ h::account_logo_tag(ctx, Some("txt-xx-large center")) }}
    <h1 class="flex-item-grow txt-x-large">{{ ctx.account.name }}</h1>
{% endif %}
  <div class="margin-block pad-inline pad-block-start fill-shade border-radius">
{% if allow_invites %}    {% include "accounts/_invite.html" %}

    <hr class="margin-block separator full-width" style="--border-style: solid">
{% endif %}    <menu class="flex flex-column gap margin-none pad">
      <turbo-frame id="account_users">
        {% for user in administrators %}{% include "accounts/users/_user.html" %}{% endfor %}
{% if !administrators.is_empty() && !members.is_empty() %}          <hr class="separator full-width" style="--border-style: solid">
{% endif %}
        {% for user in members %}{% include "accounts/users/_user.html" %}{% endfor %}        {% if let Some(page) = next_page %}{% include "accounts/users/_next_page_container.html" %}{% endif %}
      </turbo-frame>
    </menu>
  </div>
</section>
{% endblock %}
{% block footer %}  <div class="txt-align-center center margin-block-double txt-subtle">Campfire&trade; version {{ h::version_badge(ctx) }}</div>
{% endblock %}